
:root { /*Centraliza a configuração de cores da página, onde definimos as cores padrão do modo Claro*/
    --primary-color: #006666;
    --bg-color: #ffffff;
    --text-color: #333333;
    --card-bg: #ffffff;
}

/* Atributo 2: Configurações de Transição */
body { /*Configuração do comportamento global da página*/
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background 0.4s, color 0.4s;
    overflow-x: hidden;
}

/* Atributo 3: Estilização da Logo (Seletores combinados) */
.logo { /*Estilização da logo do escritório na página*/
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--primary-color);
}
.logo span { color: #00cccc; }

/* Atributo 4: Background com Imagem Profissional e Overlay */
.imagem_principal { /*Background com a logo do escritório na imagem de cima*/
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('img/logo_soft_accountig.png');
    background-size: cover;
    background-position: center;
    color: white;
}

/* Customização dos botões e os seus comportamentos */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 12px;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #004d4d;
    transform: scale(1.02);
}

/* Atributo 6: Estilos para o MODO ESCURO */
body.dark-mode {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --card-bg: #1e1e1e;
}
.dark-mode .card, .dark-mode header, .dark-mode .bg-light {
    background-color: var(--card-bg) !important; /*o !importanté utilizado no Bootstrap para garantir prioridade de declarações específicas*/
    color: white;
}
.dark-mode input, .dark-mode textarea {
    background-color: #2d2d2d;
    color: white;
    border-color: #444;
}
.list-group-item {
    background-color: inherit !important;
    color: inherit !important;
    border-color: rgba(150, 150, 150, 0.2) !important;
}

/* Botão de Toggle de Acessibilidade */
.theme-switch-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
#theme-toggle {
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer; /*Muda a seta do mouse para a mãozinha ao passar o mouse em cima de alguns botões*/
    background: var(--primary-color);
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}